/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2017, 12:00:42 PM
    Author     : govilkar
*/

.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Tahoma";
    -fx-base: #DFB951;
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-focus-color: #B6A678;
}
.hbox
{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button{
-fx-border-radius:10pt;
-fx-font:bold italic 20pt "serif";
-fx-background-color:green;
-fx-border: 2px solid red;
}
#butt
{
    -fx-background-color:#e8efef;
    -fx-font:bold italic 12pt "arial"; 
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#butt1
{
    -fx-background-color:#e8efef;
    -fx-font:bold italic 12pt "arial"; 
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-margin-left:5pt;
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#butt.button:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.hbox
{
    -fx-border-style:solid inside;
    -fx-border-width: 5;
  
    -fx-border-color: black;
}
.vbox
{
    -fx-border-style:solid inside;
    -fx-border-width: 5;
  
    -fx-border-color: brown;
}


.entity
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
  
}
#le
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}
#ee
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#tf
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}

#type
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#reg
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}
#weak
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}
#asso
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#ea
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#la
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#un
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#ml
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#cm
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#d
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#lr
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}
#er
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#ent1
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#tent1
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#card1
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#one
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#ent2
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#tent2
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#card2
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#one1
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#entity
{
    -fx-background-color:transparent;         
    -fx-border-color: black;
     
}
#att
{
    -fx-background-color:transparent;         
    -fx-border-color: black;
    -fx-arc-width: 50;
    -fx-arc-height: 100;
    
}
#rel{
    -fx-arc-width: 160;
    -fx-arc-height: 160;
    -fx-rotate: 45;
    -fx-border-color: black;
    -fx-background-color: transparent;
}
     
