.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Tahoma";
    -fx-base: #DFB951;
    -fx-background-color: #ffffff;
    -fx-focus-color: #B6A678;
}
.hbox
{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    
}
.button{
-fx-border-radius:20pt;
-fx-font:bold italic 20pt "serif";
-fx-background-color:peachpuff;
-fx-border: 2px solid black;
}
#butt
{
    -fx-background-color:peachpuff;
    -fx-font:bold italic 12pt "arial"; 
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-arc-width: 20;
    -fx-arc-height: 50;
}
#butt1
{
    -fx-background-color:peachpuff;
    -fx-font:bold italic 12pt "arial"; 
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-margin-left:5pt;
}
.button:hover {
    -fx-background-color:#83e0ef;
}
#butt.button:hover{
    -fx-background-color: #83e0ef;
}
.hbox
{
    -fx-border-style:solid inside;
    -fx-border-width: 5;
     -fx-border-color: black;
    
}
.vbox
{
    -fx-border-style:solid inside;
    -fx-border-width: 5;
    -fx-border-color: black;
   
}


.entity
{
    -fx-background-color: cyan;
    -fx-border-color: transparent;
  
}
#le
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}
#lea
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}
#ee
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#tf
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}

#type
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#reg
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}
#weak
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}
#asso
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#ea
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#la
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#un
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#ml
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#cm
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#d
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#lr
{
    -fx-font:bold italic 12pt "arial"; 
    -fx-padding: 10px;
}
#er
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#ent1
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#tent1
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#card1
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#one
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#ent2
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#tent2
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#card2
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#one1
{
    -fx-font:bold italic 12pt "arial";
    -fx-padding: 10px;
}
#entity
{
    -fx-background-color:transparent;         
    -fx-border-color: blue;
}
#att
{
    -fx-background-color:#888c46;         
    -fx-border-color: black;
    -fx-arc-width: 50;
    -fx-arc-height: 100;
    
}
#rel{
    -fx-arc-width: 160;
    -fx-arc-height: 160;
    -fx-rotate: 45;
    -fx-border-color: black;
    -fx-background-color:#888c46;
}
#popy
{
    -fx-padding: 20px;
     
}
#popn
{
    -fx-padding: 20px;
}
#top
{
    -fx-text-alignment: center;
}
#del
{
    -fx-padding-top:10px;
    
}
     
#buttdel
{
    -fx-background-color:peachpuff;
    -fx-font:bold italic 12pt "arial"; 
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-arc-width: 20;
    -fx-arc-height: 50;
    -fx-padding-top:10px;
}
